/*contact.html*/
.cHeadContainer{margin-bottom:24%;}
.cTopBg{width:100%;top:6%;position:absolute;}
.banner{position:absolute;top:23%;left:35%;font-size:70px;color:#fffa94;background-color:#1f1f1f;opacity:0.7;width:35%;text-align:center;border:10px solid black;border-radius:25px 0px 25px 0px;}
.mainCContent{background-image: linear-gradient(to top, grey , white);height:850px;}
.CContent1{background-color:#969696; width:40%;height:27%;color:white;margin:28% 32% 0% 32%;border:5px solid #969696;box-shadow:1px 1px 5px 5px grey;padding-left:1%;}
.CContent1T{font-size:27px;}
.CCard1{display:flex;font-size:19px;}
.CCaddress{width:50%;word-wrap:break-word;margin-top:3%;}
.CCcontact{width:50%;word-wrap:break-word;margin-top:5%;margin-left:8%;}
.CCcontactP{font-size:25px;margin-right:5%;}
.CCcontactP2{margin-left:10%;}
.CCcontactM{font-size:25px;margin-top:7%;}
.CCcontactM2{margin-left:3%;}
.CContent2{background-color:#969696; width:25%;height:62%;color:white;margin:4% 24% 0% 24%;border:5px solid #969696;box-shadow:1px 1px 5px 5px grey;padding-left:1%;font-size: 18px;}
.CContent2T{margin-top:5%;}
.CContent2I{border-style:none;background-color:#ababab;border-bottom:1px solid #bdbdbd;margin-top:2%;margin-bottom:3%;width:90%;}
.CContent2I2{border-style:none;background-color:#ababab;border-bottom:1px solid #bdbdbd;margin-top:2%;margin-bottom:3%;width:90%;height:40%;text-align: left;word-wrap: break-word;}
.CContent2B{border:5px solid #808080;border-radius: 8px;background-color:#ababab;margin-left: 25%;}
.CContent2I:hover{background-color: #d1d1d1;}
.CContent2I:focus{background-color: #d1d1d1;}
.CContent2I2:hover{background-color: #d1d1d1;}
.CContent2I2:focus{background-color: #d1d1d1;}
.CContent2B:hover{background-color: #d1d1d1;}
.CContent3{position: absolute;left:55%;top:102%;background-color:#969696;padding:10px;}
.CContent3 img{max-width: 500px;max-height: 515px;}

/*gym.html*/
.startbtn{font-size: 25px!important;border: 3px solid orange!important;margin-top: 70px;}
.gHeadContainer{margin-bottom:4%;}
.gTopBg{width:100%;height:130%;top:5%;position:absolute;opacity: 0.8;z-index: -1}
.gCarousel{background-color: white;width:100%;height:600px;margin-top:8%;opacity: 0.9;}
.gCarouselT{font-size:50px;width:100%;text-align: center;margin-top:4%;margin-bottom: 1%;color:red;}
.gSlides {display:none;display:flex;}
.gTitle {display:none;}
.slideItems{width:32%;}
.gCarouselF{font-size: 30px;text-align: center;margin-top: 2%;}
.btnDown{font-size: 100px;text-align: center;cursor: pointer;margin-top: -1%;}
.gmc1{width:100%;height:500px;background-color: white;}
.gmc1T{font-size: 50px;text-align: center;}
.gmc1C{display:flex;}
.gmc1CI{width:80%;margin:0% 15%;max-width: 400px;max-height: 400px;}
.gmc1CI:hover{opacity: .8;}
.mySlides1, .mySlides2, .mySlides3{display:none;margin-left:5%;}
.prev, .next{cursor: pointer;padding: 16px;margin-top: 100px;color: white;font-weight: bold;font-size: 50px;transition: 0.6s ease;border-radius: 0 3px 3px 0;user-select: none;margin-left: 2%;margin-right: 2%;height:110px;}
.next{right:3%;border-radius: 3px 0 0 3px;}
.prev:hover, .next:hover{background-color: #f1f1f1;color: black;}

.itemName{font-weight: bold;font-size: 25px;text-align: center;margin-top: -10px;}
.itemPrice{color:green;font-size: 25px;text-align: center;}
.itemCart{border-style: none;margin-left:20%;margin-top: 3%;background-color: white;border: 3px solid black;border-radius: 5px;width:60%;font-size: 20px;}
.itemCart:hover{background-color: green;color: white;transition: all .33s;}
.tooltip2 {position: relative;}
.tooltip2 .tooltiptext {visibility: hidden;width: 300px;background-color: black;color: #fff;text-align: center;border-radius: 6px;padding: 5px 0;position: absolute;z-index: 1;bottom: 100%;left: 50%;margin-left: -60px;opacity: 0;transition: opacity 1s;font-size:15px;}
.tooltip2:hover .tooltiptext {visibility: visible;opacity: 1;}

/*male.html*/
.mTopBg{width:100%;height:400px;top:5%;}
.gmc2{width:100%;height:700px;background-color: white;}
.gmc2T{font-size: 50px;margin-left:45%;margin-bottom: 2%;margin-top: 2%;}
.gmc2Tb{font-size: 50px;margin-left:50%;margin-bottom: 2%;margin-top: 2%;}
.itemName2{font-weight: bold;font-size: 25px;text-align: center;margin-left: 10%;margin-top: -1px;}
.itemPrice2{color:green;font-size: 25px;text-align: center;margin-left: 10%;}
.itemCart2{border-style: none;margin-left:26%;margin-top: 3%;background-color: white;border: 3px solid black;border-radius: 5px;width:60%;font-size: 20px;}
.advertisment{position: absolute;left:25%;top:1075px;cursor: pointer;}
.mnav{width: 22%;margin-left: 69%;font-size: 20px;}
.mnav ul {list-style-type: none;margin: 0;padding: 0;overflow: hidden;background-color: #333;}
.mnav li {float: left;}
.mnav li a {display: block;color: white;text-align: center;padding: 14px 16px;text-decoration: none;}
.mnav li a:hover {background-color: #111;color: white;}

/*female.html*/
.fTopBg{width:100%;height:700px;top:5%;}
@media only screen and (max-width:1250px){
/*contact.html*/
.cHeadContainer{margin-bottom:25%;}
.cTopBg{width:100%;top:8%;position:absolute;}
.banner{position:absolute;top:13%;left:15%;font-size:30px;color:#fffa94;background-color:#1f1f1f;opacity:0.7;width:75%;text-align:center;border:10px solid black;border-radius:25px 0px 25px 0px;}
.mainCContent{background-image: linear-gradient(to top, grey , white);height:1500px;}
.CContent1{background-color:#969696; width:70%;height:16%;color:white;margin-left: 17%;margin-top:40%;border:5px solid #969696;box-shadow:1px 1px 5px 5px grey;padding-left:1%;}
.CContent1T{font-size:20px;}
.CCard1{display:flex;font-size:15px;}
.CCaddress{width:40%;word-wrap:break-word;margin-top:3%;}
.CCcontact{width:60%;word-wrap:break-word;margin-top:5%;margin-left:8%;}
.CCcontactP{font-size:25px;margin-right:5%;}
.CCcontactP2{margin-left:10%;}
.CCcontactM{font-size:25px;margin-top:7%;}
.CCcontactM2{margin-left:3%;}
.CContent2{background-color:#969696; width:70%;height:30%;color:white;margin:10% 0% 10% 17%;border:5px solid #969696;box-shadow:1px 1px 5px 5px grey;padding-left:3%;font-size: 18px;}
.CContent2T{margin-top:5%;}
.CContent2I{border-style:none;background-color:#ababab;border-bottom:1px solid #bdbdbd;margin-top:2%;margin-bottom:3%;width:90%;}
.CContent2I2{border-style:none;background-color:#ababab;border-bottom:1px solid #bdbdbd;margin-top:2%;margin-bottom:3%;width:90%;height:30%;text-align: left;word-wrap: break-word;}
.CContent2B{border:5px solid #808080;border-radius: 8px;background-color:#ababab;margin-left: 25%;}
.CContent2I:hover{background-color: #d1d1d1;}
.CContent2I:focus{background-color: #d1d1d1;}
.CContent2I2:hover{background-color: #d1d1d1;}
.CContent2I2:focus{background-color: #d1d1d1;}
.CContent2B:hover{background-color: #d1d1d1;}
.CContent3{position: absolute;left:5.5%;top:165%;background-color:#969696;padding:10px;}
.CContent3 img{max-width: 300px;max-height: 515px;}

/*male.html*/
.gmc2{width:100%;height:650px;background-color: white;}
.gmc2T{font-size: 50px;margin-left: 30%;margin-bottom: 2%;margin-top: 2%;}
.gmc2Tb{font-size: 50px;margin-left:42%;margin-bottom: 2%;margin-top: 2%;}
.advertisment{position: absolute;left:0%;top:1100px;cursor: pointer;}
.advertisment img{width: 100%;}
.mnav{width: 70%;margin-left: 20%;font-size: 20px;}
.prev, .next{cursor: pointer;padding: 11px;margin-top: 100px;color: white;font-weight: bold;font-size: 50px;transition: 0.6s ease;border-radius: 0 3px 3px 0;user-select: none;margin-left: 2%;margin-right: 2%;height:110px;}
.next{visibility: hidden;position: absolute;}
}

/*ser*/
.mb-60 {
  margin-bottom: 60px;
}

.services-inner {
  border: 2px solid  #222222;
  margin-left: 35px;
  padding-right: 10px;
  transition: .3s;
  padding: 20px 20px;
  margin-top: 28px;
}

.our-services-img {
  float: left;
  margin-left: -46px;
  margin-right: 22px;
  margin-top: 28px;
}

.our-services-text {
  padding-right: 5px;
}

.our-services-text {
  overflow: hidden;
  padding: 20px 0 25px;
}

.our-services-text h4 {
  color: #222222;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 8px;
  padding-bottom: 10px;
  position: relative;
  text-transform: uppercase;
}

.our-services-text h4::before {
  background: #fec400 none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 1px;
  position: absolute;
  width: 35px;
}

.our-services-wrapper:hover .services-inner {
  background: transparent none repeat scroll 0 0;
  border: 2px solid #fec400;;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
}

.our-services-text p {
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  color: #666;
}

/* Tabbing */
section {
  padding: 60px 0;
}

section .section-title {
  text-align: center;
  color: #FFCC00;
  font-weight: 500;
  margin-bottom: 50px;
  text-transform: uppercase;
}

#tabs {
  background: #f5f5f5;
  color: #FFCC00;
}

#tabs h6.section-title {
  color: #FFCC00;
}

#tabs .nav-tabs .nav-item.show .nav-link, #tabs .nav-tabs .nav-link.active {
  border-color: transparent transparent #f3f3f3;
  border-bottom: 1.5px solid !important;
  font-size: 20px;
  font-weight: bold;
  background: #FFCC00;
  color: #272e38;
}

#tabs .nav-tabs .nav-link {
  border: 1px solid #878787;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  color: #FFCC00;
  font-size: 20px;
  background: #272e38;
}

#tabs nav>div a.nav-item.nav-link:hover,
#tabs nav>div a.nav-item.nav-link:focus {
  border: 1px solid #878787;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  transition: background 0.20s linear;
}

#tabs .nav-item::after {
  display: block;
}

#tabs .nav-item:hover::after {
  display: block;
}

#tabs .nav-link {
  padding: 15px 5px;
}

#hailShare :focus {
  border: 1px solid #5cb85c;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  transition: background 0.20s linear;
}

/*-howitwork*/

.how-section1{
    /*margin-top:-12%;*/
    padding: px 10px 40px 10px;
    /*  padding: 90px 0px 90px 0px;*/

  /*  padding: 10%;*/

}
.how-section1 h4{
    color: #ffa500;
    font-weight: bold;
    font-size: 30px;
}
.how-section1 .subheading{
    color: #3931af;
    font-size: 20px;
}
.how-section1 .row
{
    margin-top: 10%;
}
.how-img
{
    text-align: center;
}
.how-img img{
    width: 40%;
}


/*card*/
.mt-60 {
  margin-top: 60px;
}

.section-block-grey {
  padding: 90px 0px 90px 0px;
  background-color: #f9f9f9;
}

.serv-section-2 {
  position: relative;
  border: 1px solid #eee;
  background: #fff;
  box-shadow: 0px 10px 30px 0px rgba(50, 50, 50, 0.16);
  border-radius: 5px;
  overflow: hidden;
  padding: 30px;
}

.serv-section-2:before {
  position: absolute;
  top: 0;
  right: 0px;
  z-index: 0;
  content: " ";
  width: 120px;
  height: 120px;
  background: #f5f5f5;
  border-bottom-left-radius: 136px;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}

.serv-section-2-icon {
  position: absolute;
  top: 18px;
  right: 22px;
  max-width: 100px;
  z-index: 1;
  text-align: center;
}

.serv-section-2-icon i {
  color: #001c48;
  font-size: 48px;
  line-height: 65px;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}

.serv-section-desc {
  position: relative;
}

.serv-section-2 h4 {
  color: #333;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
}

.serv-section-2 h5 {
  color: #333;
  font-size: 17px;
  font-weight: 400;
  line-height: 1;
  margin-top: 5px;
}

.section-heading-line-left {
  content: '';
  display: block;
  width: 100px;
  height: 3px;
  background: #001c48;
  border-radius: 25%;
  margin-top: 15px;
  margin-bottom: 5px;
}

.serv-section-2 p {
  margin-top: 25px;
  padding-right: 50px;
}

.serv-section-2:hover .serv-section-2-icon i {
  color: #fff;
}

.serv-section-2:hover:before {
  background: #001c48;
}

/*--endservice--*/
/*express*/
ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #228B22;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}



.animate-border {
  position: relative;
  display: block;
  width: 115px;
  height: 3px;
  background: #878787;
}

.animate-border:after {
  position: absolute;
  content: "";
  width: 35px;
  height: 3px;
  left: 0;
  bottom: 0;
  border-left: 10px solid #fff;
  border-right: 10px solid #fff;
  -webkit-animation: animborder 2s linear infinite;
  animation: animborder 2s linear infinite;
}

@-webkit-keyframes animborder {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }

  100% {
    -webkit-transform: translateX(113px);
    transform: translateX(113px);
  }
}

@keyframes animborder {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }

  100% {
    -webkit-transform: translateX(113px);
    transform: translateX(113px);
  }
}

.animate-border.border-white:after {
  border-color: #FFCC00;
}

.animate-border.border-yellow:after {
  border-color: #FFCC00;
}

.animate-border.border-orange:after {
  border-right-color: #FFCC00;
  border-left-color: #FFCC00;
}

.animate-border.border-ash:after {
  border-right-color: #EEF0EF;
  border-left-color: #EEF0EF;
}

.animate-border.border-offwhite:after {
  border-right-color: #F7F9F8;
  border-left-color: #F7F9F8;
}

/* Animated heading border */
@keyframes primary-short {
  0% {
    width: 15%;
  }

  50% {
    width: 90%;
  }

  100% {
    width: 10%;
  }
}

@keyframes primary-long {
  0% {
    width: 80%;
  }

  50% {
    width: 0%;
  }

  100% {
    width: 80%;
  }
}
